.controls {
  min-height: 69px;
  padding: 0 0 15px;

  .rate-group {
    display: inline-block;
    padding: 15px 15px 0;
    vertical-align: top;
    width: 50%;

    label {
      font-size: 16px;
      font-weight: normal;
    }

    .form-control {
      display: block;
    }
  }

  .rate-container {
    padding-left: 10px;

    .btn {
      margin-left: 5px;
    }

    .form-control.rate {
      display: inline-block;
      width: 65px;
    }
  }

  .rate-group {
    width: 100%;
  }
}

.alert {
  clear: both;
}

@media (min-width: $screen-sm) {
  .controls {
    padding: 0 0 20px;

    .rate-group {
      display: inline-block;
      padding: 20px 15px 0 0;
      width: auto;

      label {
        width: auto;
      }

      .form-control {
        width: 131px;
      }
    }

    .rate-group {
      padding-right: 0;
    }

    .rate-container {
      display: block;
    }
  }
}
