doctype html
html(lang="en")
  head
    title Automatic Salesforce Integration
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="chrome=1")
    meta(name="viewport" content="initial-scale=1")
    meta(name="description" content="Automatic Salesforce Integration")
    link(rel="stylesheet" type="text/css" href="/css/style.css" media="screen")
    link(rel="stylesheet" type="text/css" href="/css/mapbox/style.css")
    
  body
    .main-header
      .wrapper
        a.automatic-logo(href="http://automatic.com")
        .salesforce-title 
          .plus +
          span Salesforce

        #top-menu.top-menu
              
    .wrapper.content
      #alert.alert
      block content

    block scripts
